<div class="card" style="    width: 100%;
padding-left: 28px;" >
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
  <img class="card-img-top" src="https://api.adorable.io/avatars/285/abott@adorable.png
  " alt="Card image cap" style="    margin-top: 26px;
  width: 187px;
">
</div>
  </div>
  <div class="card-body">
    <p class="card-title" style="    color: #343a40;
    text-align: center;
    font-weight: 60px;
    font-size: 32px;">{{itemss.nom}} {{itemss.prenom}} </p>
    <p class="card-text" style="    font-size: 19px;
    /* margin-top: 12px; */
    padding: 16px;"> Information : </p>
  </div>
    <p> <i class="fa fa-mobile" aria-hidden="true"></i>  <Strong class="a"> Télephone :{{itemss.telephone}}  </Strong> </p>
    <hr>
    <p> <i class="fa fa-envelope-open" aria-hidden="true"></i>  <Strong class="a">Email : {{itemss.email}}</Strong> </p>
    <hr>
    <p> <i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong class="a">Date de nasisasnce  : {{itemss.dateNaissance}}</strong>  </p>
    <hr>
    <p> <i class="fa fa-users" aria-hidden="true"></i><strong class="a">Classe : {{itemss.classee}}</strong></p>
    <hr>
    <p><i class="fa fa-desktop" aria-hidden="true"></i> <strong class="a"> List des technolgies : {{itemss.tech}}</strong></p>
</div>