<div class="container" style="margin-top: 15px;">
  <div class=" row justify-content-md-center">
    <div class="col-md-auto">
      <div class="card" style="width: 18rem;">
        <div class="card-body " style="    background-color: #28a745;
        ">
          <p class="card-text" style="    text-align: center;
          font-size: 37px; color: white;" *ngIf="childMessage != null">{{childMessage.length}}</p>
          <p style="text-align: center ;color: white;">Etudiant</p>
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="card" style="width: 18rem;">
        <div class="card-body " style="    background-color: #28a745;
        ">
          <p class="card-text" style="    text-align: center;
          font-size: 37px; color: white;">{{childMessage2.length}}</p>
          <p style="text-align: center ;color: white;">Technolgies</p>
        </div>
      </div>
    </div>
    </div>
