<div class="container">
    

    <div class="omb_login">
		<h3 class="omb_authTitle" style="font-size: xx-large;
		font-family: cursive;">Login</h3>
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<img src="assets/images/c.png" alt="" style="    width: 323px;    ">			  </div>
		</div>
		
		<div class="row justify-content-md-center">
			<div class="col-md-auto">
				<button type="button"   (click)="googleLogin()"  class="btn btn-danger" id="my" style="background-color: white;
				color: black;
				border-color: grey;"><img src="assets/images/go.png" alt="" style="    width: 23px;  margin-right: 10px;   "> Google </button>

			</div>
			<div class="col-md-auto">
				<button type="button"   (click)="facelogin()"  class="btn btn-primary"  id="my"><img src="assets/images/fa.png" alt="" style="    width: 23px;  margin-right: 10px;   ">Facebook</button>
			</div>
		</div>
		</div>
	    

        </div>